@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10em;
}

h1 {
    font-family: Anton;
    font-size: 6rem;
    color: black;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Montserrat;
    color: black;
    font-size: 2em;
    margin-top: 7em;
}

p {
    font-family: Karma;
    font-size: 0.90rem;
    color: black;
    text-align: center;
    margin-top: 2vh;
    margin-left: 2em;
    margin-right: 2em;
}

#game-board {
    margin-left: 400px;
    margin-top: 5vh;
}

.game-section {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

img {
    width: 88px;
}

.memory-card {
    width: 25%;
    height: 33.333%;
    border: 2px solid black;
    position: relative;
    background-color: lightblue;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.98);
    transition: transform .3s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.card-title {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
}

.cardFlip {
    transform: rotateY(180deg);
}