@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: blue;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10em;
}

h1 {
    font-family: Anton;
    font-size: 6rem;
    color: white;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Montserrat;
    color: white;
    font-size: 2em;
    margin-top: 7em;
}

p {
    font-family: Karma;
    font-size: 0.90rem;
    color: white;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

img {
    width: 100px;
}

.memory-card {
    border: 2px solid aqua;
}

.front,
.back {
    border: 2px solid red;
}