@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: blue;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10em;
}

h1 {
    font-family: Anton;
    font-size: 6rem;
    color: white;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Montserrat;
    color: white;
    font-size: 2em;
    margin-top: 7em;
}

p {
    font-family: Karma;
    font-size: 0.90rem;
    color: white;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

.game-section {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 88px;
}

.memory-card {
    width: 25%;
    height: 33.333%;
    border: 2px solid black;
    position: relative;
    background-color: lightblue;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
}